header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-bottom: 1px solid var(--border);

    .logo__wrapper {
        .logo__title {
            color: var(--text-main);
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 30px;

            li {
                input {
                    border-radius: var(--border-radius);
                    padding: 10px 14px;
                    outline: none;
                    background-color: var(--card-bg);
                    border: 1px solid #cbd5e1;
                    color: var(--text-main);
                    font-size: 14px;
                    transition: 0.2s box-shadow ease, 0.2s border-color ease;

                    &:focus {
                        box-shadow: var(--box-shadow-focus);
                        border-color: var(--border-focus);
                    }

                    &:hover {
                        box-shadow: var(--box-shadow-focus);
                        border-color: var(--border-focus);
                    }

                    &::placeholder {
                        color: var(--text-main);
                    }
                }
                .nav__add__film__button {
                    padding: 10px 14px;
                    font-size: 14px;
                    background-color: var(--card-bg);
                    border: 1px solid #cbd5e1;
                    color: var(--text-main);
                    border-radius: var(--border-radius);
                    transition: 0.2s box-shadow ease, 0.2s border-color ease;

                    &:hover {
                        box-shadow: var(--box-shadow-focus);
                        border-color: var(--border-focus);
                        cursor: pointer;
                    }
                }

                select {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;

                    width: 200px;
                    padding: 10px 14px;

                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-main);

                    background-color: var(--card-bg);
                    border: 1px solid #cbd5e1;
                    border-radius: 10px;

                    cursor: pointer;
                    outline: none;

                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%2364748b' stroke-width='2'%3E%3Cpath d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: right 12px center;
                    background-size: 18px;

                    transition: border-color 0.2s, box-shadow 0.2s;

                    &:hover {
                        border-color: var(--border-focus);
                    }

                    &:focus {
                        border-color: var(--border-focus);
                        box-shadow: var(--box-shadow-focus);
                    }
                }
            }
        }
    }
}

/*=======================
MODAL WINDOW FOR ADD FILM
=======================*/


.add__film__modal__wrapper {
    max-height: 0;
    max-width: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); 
    transition: 
        visibility 0s 0.2s, 
        opacity 0.2s ease,
        max-width 0.3s ease,
        max-height 0.3s ease,
        transform 0.3s ease; 

    .close__modal__button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border);
        transition: 0.2s box-shadow ease, 0.2s border-color ease;
        
        p {
            font-size: 16px;
        }

        &:hover {
            box-shadow: var(--box-shadow);
            border-color: var(--border-focus);
            cursor: pointer;
        }

        svg {
            fill: var(--text-main);
        }
    }

    .add__film__items__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        border:1px solid var(--border);
        background-color: var(--bg);
        border-radius: var(--border-radius);
        padding: 30px;
        box-shadow: var(--box-shadow);

        input {
                    border-radius: var(--border-radius);
                    padding: 10px 14px;
                    outline: none;
                    width: 100%;
                    background-color: var(--card-bg);
                    border: 1px solid #cbd5e1;
                    color: var(--text-main);
                    font-size: 14px;
                    transition: 0.2s box-shadow ease, 0.2s border-color ease;

                    &:focus {
                        box-shadow: var(--box-shadow-focus);
                        border-color: var(--border-focus);
                    }

                    &:hover {
                        box-shadow: var(--box-shadow-focus);
                        border-color: var(--border-focus);
                    }

                    &::placeholder {
                        color: var(--text-main);
                    }
        }

        select {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;

                    width: 100%;
                    padding: 10px 14px;

                    font-size: 14px;
                    font-weight: 500;

                    background-color: var(--card-bg);
                    border: 1px solid #cbd5e1;
                    border-radius: 10px;
                    color: var(--text-main);

                    cursor: pointer;
                    outline: none;

                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%2364748b' stroke-width='2'%3E%3Cpath d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: right 12px center;
                    background-size: 18px;

                    transition: border-color 0.2s, box-shadow 0.2s;

                    &:hover {
                        border-color: var(--border-focus);
                    }

                    &:focus {
                        border-color: var(--border-focus);
                        box-shadow: var(--box-shadow-focus);
                    }
        }

        button {
                    padding: 10px 14px;
                    width:  100%;
                    font-size: 14px;
                    border: 1px solid var(--border);
                    border-radius: var(--border-radius);
                    transition: 0.2s box-shadow ease, 0.2s border-color ease;
                    background-color: var(--card-bg);
                    color: var(--text-main);

                    &:hover {
                        box-shadow: var(--box-shadow-focus);
                        border-color: var(--border-focus);
                        cursor: pointer;
                    }
        }

        h1 {
            font-size: 30px;
            color: var(--text-main);
        }

    }
}


.add__film__modal__wrapper__active {
    max-width: 100%;
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal__title__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.modal__buttons__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.display__none {
    display: none;
}

.display__normal {
    display: block;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 5px;
  width: 100px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  transition: 0.2s ;

  &:hover {
    box-shadow: var(--box-shadow-focus);
    border-color: var(--border-focus);
    cursor: pointer;
  }
}

.theme-icon {
  font-size: 16px;
  margin: 0 4px;
  transition: opacity 0.3s;
  padding: 5px 8px;
}

.icon-active {
    background-color: var(--border);
    border-radius: 50%;

    svg {
        fill: var(--text-main);
    }
}

.total__watch__movies {
    color: var(--text-main);
}