main {
    margin-top: 50px;
    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            th {
                padding: 30px;
                border-bottom: 1px solid var(--border);
                font-size: 20px;
                text-align: center;
                color: var(--text-main);
            }
        }

        tbody {
            td {
                padding: 10px;
                border-bottom: 1px solid var(--border);
                color: var(--text-main);
                font-size: 18px;
                text-align: center;

                .film__done__button, .film__delete__button, .film__edit__button {
                    width: 40px;
                    height: 40px;
                    background-color: var(--accent);
                    border: 1px solid var(--border);
                    border-radius: var(--border-radius);
                    transition: 0.2s box-shadow ease, 0.2s border-color ease;

                    &:hover {
                        box-shadow: var(--box-shadow-focus);
                        cursor: pointer;
                    }

                    svg {
                        path {
                            fill: var(--text-main);
                        }
                    }
                }
            }
        }
    }
}

.film__done {
  background: var(--done-film-bg);
}

.pages__wrapper {
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    .prev__page__button {
       cursor: pointer;
       
       svg {
            path {
                fill: var(--text-main);
            }
       }

       &:hover {
        transform: translateX(-4px);
       }
    }

    .current__page__wrapper {
        color: var(--text-main);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .next__page__wrapper {
        cursor: pointer;
        
        svg {
            path {
                fill: var(--text-main);
            }
        }

        &:hover {
            transform: translateX(4px);
        }
    }

    .page__button {
        width: 40px;
        height: 40px;
        color: var(--text-main);
        background-color: var(--accent);
        border: 1px solid var(--border);
        border-radius: var(--border-radius);
        transition: 0.2s box-shadow ease, 0.2s border-color ease;
    }
}